@font-face {
    font-family: "vcr";
    src: url("../assets/fonts/vcr.ttf");
}



body {
    background: #191924; 
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: opacity 0.2s;
    opacity: 0;
    display: none;
    background: linear-gradient(180deg, rgba(145,160,167,1) 0%, rgba(94,105,113,1) 100%);
}


.cont {
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}

#perc, #time {
    font-size: 60pt;
    color: white;
    display: inline-block;
}

#time div {
    display: inline-block;
}

#smallPerc {
    color: white;
    font-size: 40pt;
    display: inline-block;
    margin-left: 0px;
    width: 80px;
}

.percSymbol {
    font-size: 60pt;
    display: inline-block;
    color: white;
    margin-left: 0px;
}

.barCont {
    display: block;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 20px;
    position:relative;
    width: calc(55vw);
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#barDone, #barPreview, #barLeft {
    height: 10px;
    position: absolute;
    float: left;

}

#barDone {
    width: calc(50vw/2);
    z-index: 7;
    background-color: white;
}

#barPreview, #barOverlay {
    background-color: #5FE1FE;
    transition: width 0.3s;
    width: 0px;
    left: 0px;
    z-index: 6;
}

#barLeft {
    width: 100%;
    z-index: 5;
    background-color: white;
}

.hideOverflow {
    overflow: hidden;
}

#canvaBg {
    /* height: 100%;
    width: 100%; */
    position: absolute;
    top: 0px;
    left: 0px;
}

#nextMilestone {
    color: white;
    margin-top: 35px;
    font-size: 22pt;
}

#nextMilestone div {
    display: inline-block;
}

.moon {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: 0.4s transform;

    /* background-color: orange; */
}

#moonTop {
    z-index: 21;
}

.bigCont {
    position: relative;
    height: 60pt;
    padding-bottom: 35px;
}

.timeCont, .percCont {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: hidden;
    white-space: nowrap;
    transition: top 0.3s, height 0.3s;
    min-width: 100%;
}

.percCont {
    height: 100%;
    top: 0%;
}

.timeCont {
    height: 0px;
    top: 100%;
}

.bigCont:hover .timeCont {
    height: 100%;
    top: 0%;
}

.bigCont:hover .percCont {
    height: 0%;
    top: 100%;
}

#moonCont {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(25deg);
    top: 65px;
    z-index: 20;
    width: 160px;
    height: 160px;
    transition: opacity 0.2s;
}

#moonCont:hover .moon {
    transform: scale(1.12);
}

#styleCont {
    position: absolute;
    bottom: 20px;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-family: 'Poppins';

}

.styleButton {
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.styleButton:hover {
    cursor: pointer;
}

#styleCont img {
    height: 35px;
    /* padding: 0px 0px 10px 0px; */
}