body {
    background-color: #191924; 
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 100%;
}

.cont {
    position: absolute; 
    left: 50%; 
    top: 50%; 
    width: 100%;
    transform: translate(-50%, -50%);
}

#perc {
    font-size: 60pt;
    color: white;
    display: inline-block;
}

#smallPerc {
    color: white;
    font-size: 40pt;
    display: inline-block;
    margin-left: 0px;
    width: 80px;
}

.percSymbol {
    font-size: 60pt;
    display: inline-block;
    color: white;
    margin-left: 0px;
}

.barCont {
    display: block;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 20px;
    position:relative;
    width: calc(50vw);
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#barDone {
    width: calc(50vw/2);
    height: 10px;
    background-color: black;
    float: left;
    position: absolute;
    z-index: 6;
}

.hideOverflow {
    overflow: hidden;
}

#barLeft {
    width: 100%;
    position: absolute;
    height: 10px;
    background-color: white;
    float: left;
    z-index: 5;
}

#canvaBg {
    /* height: 100%;
    width: 100%; */
    position: absolute;
    top: 0px;
    left: 0px;
}

#nextMilestone {
    color: white;
    margin-top: 35px;
    font-size: 22pt;
}

#nextMilestone div {
    display: inline-block;
}